{% extends 'base.html' %}

{% block content %}
  <form method="post">
    <h1>{% block title %} {{ booking['title'] }} {% endblock %}</h1>
    <table>
        <tr>
          {% for column in booking['header'] %}
          {% if column in booking['names'] %}
          {% else %}
          <th><div><span>{{ column }}</span></div></th>
          {% endif %}
          {% endfor %}
        <th>
          {% if not edit %}
            <input type="text" name="name"
                   placeholder="Ditt namn"
                   value="{{ request.form['name'] }}"></input>
          {% else %}
            {{ booking['edit_name'] }}
          {% endif %}
          </th>
        </tr>
        {% for row in booking['rows'] %}
        <tr>
          {% for column in row %}
          {% if booking['header'][loop.index0] not in booking['names'] %}<td>{{ column }}</td>{% endif %}
          {% endfor %}
          <td><input type="checkbox" name="answers" value="{{ loop.index0 }}" {% if booking['edit_answers'][loop.index0] %} checked {% endif %}></input></td>
        </tr>
        {% endfor %}
      </table>
    <button type="submit" class="save">Spara</button>
    </form>
{% endblock %}
