{% extends 'base.html' %}

{% block content %}
  <form method="post">
    <h1>{% block title %} {{ booking['title'] }} {% endblock %}</h1>
    <br>
    <label for="name">Namn</label>
    <br>
    {% if not edit %}
    <input type="text" name="name"
           placeholder="Ditt namn"
           value="{{ request.form['name'] }}"></input>
    {% else %}
    <b>{{ booking['edit_name'] }}</b>
    {% endif %}
    <table>
        <tr>
          {% for column in booking['header'] %}
          {% if column in booking['names'] %}
          {% else %}
          <th><div><span>{{ column }}</span></div></th>
          {% endif %}
          {% endfor %}
        <th>&#x2193;</th>
        </tr>
        {% for row in booking['rows'] %}
        <tr>
          {% for column in row %}
          {% if booking['header'][loop.index0] not in booking['names'] %}<td>{{ column }}</td>{% endif %}
          {% endfor %}
          <td>
            <input
              class="tristate"
              type="text"
              size="2"
              readonly="true"
              name="tristate_answers"
              onfocus="this.blur()"
              onclick="tristate(this, '{{ booking['tristates'][0] }}', '{{ booking['tristates'][1] }}', '{{ booking['tristates'][2] }}')"
              value="{{ booking['tristate_answers'][loop.index0] | default(booking['tristates'][0], true) }}" />
          </td>
        </tr>
        {% endfor %}
    </table>
    <label for="comment">Kommentar</label>
    <br>
    <textarea name="comment"
              placeholder="Din kommentar"
              rows="5"
              cols="40"
              >{{ request.form['comment'] }}</textarea>
    <br>
    <button type="submit" class="save">Spara</button>
  </form>
    <form action="{{ url_for('show', booking_id=booking['booking_id']) }}">
      <button type="submit" class="edit">Avbryt</button>
    </form>
{% endblock %}
