<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <ul>
        <li><a href="{{ url_for('index') }}">&#x21AA;HEM</a></li>
        <li><a href="{{ url_for('create') }}">&#x21AA;NY</a></li>
    </ul>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
