{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Skapa ny bokning {% endblock %}</h1>
    <form method="post">
        <label for="title">Titel*</label>
        <br>
        <input type="text" name="title"
               placeholder="Vad ska bokas?"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="title">Plats</label>
        <br>
        <input type="text" name="location"
               placeholder="Plats för bokningen (frivillig)"
               value="{{ request.form['location'] }}"></input>
        <br>

        <label for="description">Beskrivning</label>
        <br>
        <textarea name="description"
                  placeholder="Beskrivning av bokningen"
                  rows="5"
                  cols="40"
                  >{{ request.form['description'] }}</textarea>
        <br>
        <p>*Obligatorisk</p>
        <br>
        <div class="field">
            <input type="date" name="dates[]"></input>
            <input type="time" name="start_times[]"></input>
            <input type="time" name="end_times[]"></input>
            <span onclick="addField(this)">+</span>
            <span onclick="removeField(this)">-</span>
        </div>
        <button type="submit">Spara</button>
    </form>
{% endblock %}
