{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {% if not edit %} Skapa ny{% else %} Redigera{% endif %} bokning {% endblock %}</h1>
    <br>
    <form method="post">
        <label for="title">Titel</label>
        <br>
        <input type="text" name="title"
               placeholder="Vad ska bokas? (KRÄVS)"
               value="{{ request.form['title'] | default(booking['title']) }}"></input>
        <br>
        <br>
        <label for="title">Plats</label>
        <br>
        <input type="text" name="location"
               placeholder="Plats för bokningen (frivillig)"
               value="{{ request.form['location'] | default(booking['location']) }}"></input>
        <br>
        <br>
        <label for="description">Beskrivning</label>
        <br>
        <textarea name="description"
                  placeholder="Beskrivning av bokningen (frivillig)"
                  rows="5"
                  cols="40"
                  >{{ request.form['description'] | default(booking['description']) }}</textarea>
        <br>
        <br>
        {% if not edit %}
        <div class="field">
            <input type="date" name="dates"></input>
            <input type="time" name="start_times"></input>
            <input type="time" name="end_times"></input>
            <span onclick="addField(this)">+</span>
            <span onclick="removeField(this)">-</span>
        </div>
        {% else %}
        {% for row in booking['rows'] %}
        <div class="field">
            <input type="date" name="dates" value="{{ row[1] }}" disabled></input>
            <input type="time" name="start_times" value="{{ row[2] }}" disabled></input>
            <input type="time" name="end_times" value="{{ row[3] }}" disabled></input>
        </div>
        {% endfor %}
        {% endif %}
        <button type="submit" class="save">Spara</button>
    </form>
    {% if edit %}
    <form action="{{ url_for('show', booking_id=booking['booking_id']) }}">
        <button type="submit" class="edit">Avbryt</button>
    </form>
    {% endif %}
{% endblock %}
