{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} &#128738; PanPlan &#128738; {% endblock %}</h1>
<br>
  {% for booking in bookings %}
  <a style="text-decoration: none; color: black;" href="{{ url_for('show', booking_id=booking['booking_id']) }}">
    <div class='booking'>
      <h3>{{ booking['title'] }}</h3>
      <p class="timestamp">{{ booking['time_created'] }}</p>
      <p>{{ booking['description'] }}</p>
    </div>
  </a>
 {% endfor %}
<br>
<div class="logout">
  {% if current_user.is_authenticated %}
  <a class="logout" href="{{ url_for('logout') }}">Logga ut</a>
  {% else %}{% endif %}
</div>
{% endblock %}
