{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ booking['title']}} {% endblock %}</h1>
    <h3>Plats</h3>
    <p>{{ booking['location'] }}</p>
    <br>
    <h3>Beskrivning</h3>
    <p>{{ booking['description'] }}</p>
    <br>
    <form action="{{ url_for('answer', booking_id=booking_id) }}">
      <button type="submit">Lämna svar</button>
    </form>
    <br>
    <table>
        <tr>
          {% for column in booking['header'] %}
          <th>{{ column }} {% if column in booking['names'] %} <a href="{{ url_for('answer', booking_id=booking['booking_id'], edit_name=column) }}"> &#x270E; </a>{% endif %}</th>
          {% endfor %}
        </tr>
        {% for row in booking['rows'] %}
        <tr {% if booking['ranks'][loop.index0] == 1 %}style="background-color:#9ecae1"{% elif booking['ranks'][loop.index0] == 2 %}style="background-color:#c6dbef"{% elif booking['ranks'][loop.index0] == 3 %}style="background-color:#eff3ff"{% endif %}>
          {% for column in row %}
          <td>{{ column }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table> 
{% endblock %}
