{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ booking['title']}} {% endblock %}</h1>
    <br>
    <p class="timestamp">Skapad {{ booking['time_created'] }} - <a href="{{ url_for('create', booking_id=booking_id) }}">&#x270E; Redigera</a></p>
    <br>
    <h3>Plats</h3>
    <p>{{ booking['location'] }}</p>
    <br>
    <h3>Beskrivning</h3>
    <p>{{ booking['description'] }}</p>
    <br>
    <table cellspacing="0" class="show">
        <tr>
          {% for column in booking['header'] %}
          {% if column in booking['names'] %}
          <th class="rotate"><div><span>{% if column|length <= 12 %}{{ column }}{% else %}{{ column[:12] }}...{% endif %}</span></div></th>
          {% else %}
          <th></th>
          {% endif %}
          {% endfor %}
        </tr>
        <tr>
          {% for column in booking['header'] %}
          {% if column in booking['names'] %}
          <th class="pen"><a href="{{ url_for('answer', booking_id=booking_id, edit_name=column) }}"><div><span></span> &#x270E; </span></div></a></th>
          {% else %}
          <th><div><span>{{ column }}</span></div></th>
          {% endif %}
          {% endfor %}
        </tr>
        {% for row in booking['rows'] %}
        <tr {% if booking['ranks'][loop.index0] == 1 %}style="background-color:#9ecae1"{% elif booking['ranks'][loop.index0] == 2 %}style="background-color:#c6dbef"{% elif booking['ranks'][loop.index0] == 3 %}style="background-color:#eff3ff"{% endif %}>
          {% for column in row %}
          <td>{{ column }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    <div class="clear"></div>
    <form action="{{ url_for('answer', booking_id=booking_id) }}">
      <button type="submit" class="answer">Lämna svar</button>
    </form>
    <form action="{{ url_for('comment', booking_id=booking_id) }}">
      <button type="submit" class="comment">Kommentera</button>
    </form>
    <div class="clear"></div>
    <br>
    <br>
    <h3>Kommentarer</h3>
    {% if booking['comments']|length == 0 %}
    <p>Inga kommentarer.</p>
    {% endif %}
    {% for comment in booking['comments'] %}
    <br>
    <p><b>{{ comment[0] }}</b></p>
    <p class="timestamp">{{ comment[1] }}</p>
    <p>{{ comment[2] }}</p>
    <br>
    {% endfor %}
{% endblock %}
